.customBullet {
  background: gray;
  opacity: 0.7;
  width: 14px;
  height: 4px;
  margin-left: 14px;
  transition:
    background 0.2s,
    transform 0.2s;
}
.customBulletActive {
  background: black;
  opacity: 1;
  transform: scale(1.2);
}
