@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import './colors.css';
@import './typography.css';
@import './breakpoints.css';
@config "../../tailwind.config.js";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: block;
  background-color: white;
}

#root {
  margin: 0 auto;
}

.app {
  width: 100%;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}
