@import 'tailwindcss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@import 'bulma/css/bulma.min.css';

/* Base styles */
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mont', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #313237;
  font-size: 16px;
  background-color: white;
}

h1 {
  font-family: 'Mont', sans-serif;
  font-weight: 800; /* Desktop & Tablet/H1 */
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;

  /* mobile */
  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 41px;
  }
}

h2 {
  font-family: 'Mont', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0;
  }
}

h3 {
  font-family: 'Mont', sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
  }
}

h4 {
  font-family: 'Mont', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.uppercase-text {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.button-text {
  font-family: 'Mont', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0;
}

.body-text {
  font-family: 'Mont', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #313237;
}

.small-text {
  font-family: 'Mont', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
